<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <a href="/dashboard"><button style='width: 150px; height:20%' class="btn mx-2 my-1 btn-transparent text-center dash-button">Dashboard</button></a>
        <h1 class="h3 my-5">{{userName}} vs all Ninjas!</h1>

        <table class="table">
            <thead id='leaders'class="thead-primary">
                <tr>
                    <th scope="col">User</th>
                    <th scope="col">Member Since</th>
                    <th>
                </tr>
            </thead>
            <tbody>
                {{#each results}}
                <tr>
                    <td>{{this.user_name}}</td>
                    <td>{{this.created_date}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>

    </div>

</body>

</html>