<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
</head>

<body>
    <div class="container mx-auto">
        <a href="/dashboard"><button style='width: 150px; height:20%' class="btn mx-2 my-1 btn-transparent text-center dash-button">Dashboard</button></a>

   
        <h1 class="text-center my-3">Holdings</h1>

        <table class="table">
            <thead class="thead-primary">
                <tr>
                    <th scope="col" class="p-2 text-center">Ticker</th>
                    <th scope="col" class="p-2 text-center">Desc</th>
                    <th scope="col" class="p-2 text-center">Price Acquired</th>
                    <th scope="col" class="p-2 text-center">Market Price</th>
                    <th scope="col" class="p-2 text-center">Delta</th>
                    <th scope="col" class="p-2 text-center">Quantity</th>
                    <th scope="col" class="p-2 text-center">Date</th>
                    <th scope="col" class="p-2 text-center">iD</th>
                </tr>
            </thead>
            <tbody>
                {{holdings}}
            </tbody>
        </table>
    </div>



    <script type="text/javascript">

        $(document).ready(() => {
          $.ajax({
              type: "GET",
              contentType: "application/json",
              url: "http://localhost:3000/:user_name/holdings";
              
          })  
        })
    </script>   
</body>



</html>